html,
body {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: floralwhite;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  color: #732B1A;
  font-size: 60;
  background-color: #BF754B;
  margin-bottom: 0;
}

#top-page {
  background-color: #BF754B;
}

#subheading {
  font-family: 'Mulish', sans-serif;
  color: white;
  text-decoration: solid;
  font-size: 20;
  text-align: center;
}

#street-view {
  height: 500px;
  width: 500px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

button{
    border-radius: 5%;
    padding: 10px;
    background-color: #9FBEC1;
    border-color: white;
    color: white;
    font-family: 'Mulish', 'sans-serif';
}

@keyframes buttonAnimation {
    from {background-color: #9FBEC1;}
    to {background-color: #3F7373;}
}

button:hover{
    cursor: pointer;
    animation-name: buttonAnimation;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

button:active{
    transform: translateY(4px);
}

form {
  color: #3F7373;
  text-align: center;
  padding-top: 8px;
}