html,
body {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#street-view {
  height: 500px;
  width: 500px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

button{
    border-radius: 5%;
    padding: 10px;
    background-color: #9FBEC1;
    border: none;
}

@keyframes buttonAnimation {
    from {background-color: #9FBEC1;}
    to {background-color: #3F7373;}
}

button:hover{
    cursor: pointer;
    animation-name: buttonAnimation;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

button:active{
    transform: translateY(4px);
}