body{
    background-color: rgb(252, 249, 244);
    text-align: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

button{
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
    background-color: #9FBEC1;
    border: none;
}

.gif{
    scale: 65%;
    margin-top: -7%;
    margin-left: -15%;
}

@keyframes buttonAnimation {
    from {background-color: #9FBEC1;}
    to {background-color: #3F7373;}
}

button:hover{
    cursor: pointer;
    animation-name: buttonAnimation;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

button:active{
    transform: translateY(4px);
}


