body{
    background-color: rgb(252, 249, 244);
}

#map {
    height: 100%;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

table, td, th{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    width:80%;
    background-color: white;
    box-shadow: 5px 5px 12px #888888;
}

th{
    background-color: #BF754B;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width:100%;
    margin-right: 0;
}

.grid-item{
    padding: 10px;
}