<html>
  <head>
    <title>Game</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="static/CSS/game.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  </head>
  <body>
    <a href="/" style="text-decoration: none;"><button id="homeButton">home</button></a>
    <div id="top-page">
      <h1 id="quote">Guess what was filmed here ...</h1>
    </div>

    <div class="grid-container">
      <center>
      <div id="imgDiv" class="grid-item" style="background-color: #bf764b48; box-shadow: 5px 5px 12px #888888;">
        <img id="progressImg" src="/static/images/GameFootsteps-01.svg">
      </div>
      </center>
      <div class="grid-item">

        <div id="street-view"></div>
        
        <center><input type="text" id="guess" guess="guess" placeholder="Enter your guess here!"></center>

      </div>
      <div class="grid-item">
        <div id="statsColumn">
          <div class="statsBox" id="stepsPossible">
            <h3 class="statsTitle">Question Number: <span id="qNumber">1</span></h3>
          </div>
          <div class="statsBox" id="currentScore">
            <h3 class="statsTitle">Hints:</h3>
          <center>
            <h4 class="hintBox" id="actorHint" onclick="hintReveal('actorHint')">Lead Actor</h4>

            <h4 class="hintBox" id="genreHint" onclick="hintReveal('genreHint')">Genre</h4>

            <h4 class="hintBox" id="yearHint" onclick="hintReveal('yearHint')">Release Year</h4>
          </center>
          </div>
          <div class="statsBox" id="hints">
            <h3 class="statsTitle">Percent Correct: <span id="percentcorrect">0%</span></h3>

            <h3 class="statsTitle">Score: <span id="userscore">0</span></h3>
          </div>
        </div>
      </div>



    </div>
    <center>
    <div class="howToMessageBackground" id="howToMessageBackground">
      <div class="howToMessageFront" id="howToMessageFront">
        <p id="closeButton" onclick="document.getElementById('howToMessageBackground').style.display='none'"><b>&#1093;</b></p>
        <h2>Add title here</h2>
        <p>add directions here</p>
        <p>add a final pun</p>
        <button onclick="document.getElementById('howToMessageBackground').style.display='none'">Start!</button>
      </div>
    </div>
  </center>

  <center>
    <div class="winMessageBackground" id="winMessageBackground">
      <div class="winMessageFront" id="winMessageFront">
        <h2>Congratulations!</h2>
        <h4>Score: <span id="winScore"></span></h4>
        <h4>Percent Correct: <span id="winPercent"></span></h4>
        <button onclick="resetGame()">Play Again</button>
        <button onclick="window.location='/'">Go Home</button>
      </div>
    </div>
  </center>
    <!--<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr_GiC_sLRJi7Urje8rqN5TJ-z_n8SVJQ&callback=initialize&v=weekly"
      defer
    ></script>-->
    <script src="static/JS/game.js" async defer></script>
  </body>
</html>