<html>
  <head>
    <title>Game</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="static/CSS/game.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <a href="/" style="text-decoration: none;"><button id="homeButton">home</button></a>
    <div id="top-page">
      <h1 id="quote">Guess what was filmed here ...</h1>
    </div>

    <div class="grid-container">
      <div class="grid-item">
        <div id="progressImg"></div>
      </div>
      <div class="grid-item">

        <div id="street-view"></div>
        
        <label for="guess">Answer:</label>
        <input type="text" id="guess" guess="guess">

      </div>
      <div class="grid-item">
        <div id="statsColumn">
          <div class="statsBox" id="stepsPossible">
            <h3 class="statsTitle">Question Number: <span id="qNumber">1</span></h3>
          </div>
          <div class="statsBox" id="currentScore">
            <h3 class="statsTitle">Hints:</h3>
          <center>
            <h4 class="hintBox" id="actorHint" onclick="hintReveal('actorHint')">Lead Actor</h4>

            <h4 class="hintBox" id="genreHint" onclick="hintReveal('genreHint')">Genre</h4>

            <h4 class="hintBox" id="yearHint" onclick="hintReveal('yearHint')">Release Year</h4>
          </center>
          </div>
          <div class="statsBox" id="hints">
            <h3 class="statsTitle">Percent Correct: <span id="percentcorrect">0%</span></h3>

            <h3 class="statsTitle">Score: <span id="userscore">0</span></h3>
          </div>
        </div>
      </div>



    </div>
    <center>
    <button onclick="getNewMovie()" style="position: absolute; top: 10px; left: 150px">reset</button>
    <div class="howToMessageBackground">
      <div class="howToMessageFront">
        <p>hi</p>
      </div>
    </div>
  </center>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr_GiC_sLRJi7Urje8rqN5TJ-z_n8SVJQ&callback=initialize&v=weekly"
      defer
    ></script>
    <script src="static/JS/game.js" async defer></script>
  </body>
</html>