<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Home</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr_GiC_sLRJi7Urje8rqN5TJ-z_n8SVJQ&libraries=places&callback=initialize" defer></script>
</head>
<body>
    <div class="content">
        <img src="/static/images/Transparent-Background.svg" alt="FF Logo" style="width: 1200px; height: 275px; margin-top: 20px;">
        <div class="gif">
            <img src="/static//images/PintoPin.gif" alt="footprints GIF">
        </div>  

        <!-- this empty h1 is keeping the buttons centered for some reason -->
        <h1></h1>
        <a href="game" style="text-decoration: none; margin-top: 20px; clear: both;"><button>game</button></a>
        <a href="maps" style="text-decoration: none; clear: both;"><button>maps</button></a>
    </div>

    <!-- search box -->
    <div class="search-container">
        <input id="places-search" class="search-input" type="text" placeholder="Enter your location">
    </div>

    <a href="maps" style="text-decoration: none; clear: both;"><button>Go</button></a>

    
    <div id="street-view"></div>
    <script src="static/JS/home.js" async defer></script>



</body>
</html>