<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Home</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script async src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCr_GiC_sLRJi7Urje8rqN5TJ-z_n8SVJQ&callback=initialize">
        defer </script>
</head>
<body>
    <div class="content">
        <img src="/static/images/FFLogo.png" alt="FF Logo">
        <h1>home page!!</h1>
        <a href="game" style="text-decoration: none;"><button>game</button></a>
        <a href="maps" style="text-decoration: none;"><button>maps</button></a>
    </div>
    
    <div id="street-view"></div>
    <script src="static/JS/home.js" async defer></script>


</body>
</html>