<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Home</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <!--<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr_GiC_sLRJi7Urje8rqN5TJ-z_n8SVJQ&libraries=places&callback=initAutoComplete" defer></script>-->
</head>
<body>
    <nav>
        <div class="favicon">
            <img src="/static/images/favicon.svg" alt="footprint favicon">
        </div>
        <ul>
            <li><a href="/maps">Location Map</a></li>
            <li><a href="/game">Movie Megaminds Game</a></li>
        </ul>
    </nav>
    <div class="content">
        <img src="/static/images/FFLogo.svg" alt="FF Logo" style="width: 85%; margin-top: 20px;">
        <div class="gif">
            <img src="/static//images/PintoPin.gif" alt="footprints GIF">
        </div>  
    </div>

    <div id="container">
        <div class="slogan">
            <h1>STEP ONTO THE SET !</h1>
            <h2>Enter any location to show where famous movies were filmed nearby:</h2>
        </div>
        <!-- search box -->
        <div id="search-container">
            <input id="places-search" class="search-input" style="width: 50%;" type="text" placeholder="Enter a location">
            <button style="text-decoration: none; clear: both; width: 10%;" class = "button-go" onclick="redirectToMaps()">Go</button>
        </div>
        <h2>Or test your knowledge and guess the film spot with a quote:</h2>
        <a href="game"><button>Play Movie Megaminds</button></a>

    </div>


    
    <div id="street-view"></div>
    <script src="/static/JS/home.js" async defer></script>



</body>
</html>