<a href="/" style="text-decoration: none;"><button>home</button></a>
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <link rel="stylesheet" href="static/CSS/maps.css">
    <title>Film Spots Near You</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script async src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCr_GiC_sLRJi7Urje8rqN5TJ-z_n8SVJQ&callback=initMap&libraries=places">
    </script>
</head>

<body>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box"/>

    <div class="grid-container">
        <div id="map" class="grid-item"></div>
        <div  class="grid-item">
            <h2>Showing nearby attractions for ... <span id="addressHere"></span></h2>
            <table id="distanceTable">
                <tr>
                    <th>Movie</th>
                    <th>Distance</th>
                    <th>Driving Time</th>
                </tr>
                <tr id="r1">
                    <td id="r1m"></td>
                    <td id="r1d"></td>
                    <td id="r1dt"></td>
                </tr>
                <tr id="r2">
                    <td id="r2m"></td>
                    <td id="r2d"></td>
                    <td id="r2dt"></td>
                </tr>
                <tr id="r3">
                    <td id="r3m"></td>
                    <td id="r3d"></td>
                    <td id="r3dt"></td>
                </tr>
                <tr id="r4">
                    <td id="r4m"></td>
                    <td id="r4d"></td>
                    <td id="r4dt"></td>
                </tr>
                <tr id="r5">
                    <td id="r5m"></td>
                    <td id="r5d"></td>
                    <td id="r5dt"></td>
                </tr>
            </table>
        </div>
    </div>

    <script src="static/JS/maps.js" async defer></script>
    <script src="static/JS/mapsJquery.js" async defer></script>
</body>
</html>